// Colors

// $lightblack: #1a1a1a;
// $red: #ff1049;
// $purple: #5b3abd;
// $darkpurple: lighten(#5b3abd, 20%);
// $blue: #4884b7;
// $gray: #a8a6a1;
// $darkgray: #757471;
// $white: #fff;
// purple: #483d8b,

$primary: #5b3abd;
$darkprimary: darken(#5b3abd, 20%);
$lightprimary: lighten(#5b3abd, 20%);
$accent: #37392e;
$lightaccent: #494b41;
$light: #fffcf9;

// Box Shadow

$box-shadow: 1px 2px 15px rgba($accent, 80%), 2px 4px 10px rgba($accent, 20%);
